<div id="friends">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First name:</th>
        <th scope="col">Last name:</th>
        <th scope="col">Email:</th>
        <th scope="col">Phone:</th>
        <th scope="col">Twitter:</th>
        <th scope="col">User Id:</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= friend.user_id %></td>
          <td><%= link_to "Show", friend %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New friend", new_friend_path %>
